<!-- 
Author: Abror Khasanov (12204542)

Overview:
This ROS launch file initiates SLAM (Simultaneous Localization and Mapping) using Gmapping for the TurtleBot3. 
It sets up the necessary parameters for the Gmapping node, including frame configurations and loads additional parameters from gmapping_params.yaml.

Arguments:
- configuration_basename: Basename for Cartographer configuration file.
- set_base_frame: Frame for the robot's base.
- set_odom_frame: Frame for odometry data.
- set_map_frame: Frame for the map.

-->

<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="set_base_frame" default="base_footprint"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>

  <!-- Gmapping -->
  <!-- Run the Gmapping node for SLAM -->
  <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
    <!-- Set frame parameters for Gmapping -->
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <!-- Load additional parameters from gmapping_params.yaml -->
    <rosparam command="load" file="$(find turtlebot3_slam)/config/gmapping_params.yaml" />
  </node>
</launch>
